<% provide :title, t(".title") %>
<h1><%= t ".title1" %></h1>
<p>
  <%= t ".get" %>
  <%= link_to t(".rails"), "http://www.railstutorial.org/help" %>
  <%= t ".to" %>
  <%= link_to t(".ruby"), "http://www.railstutorial.org/book" %>
  <%= t ".book" %>
</p>
